html, body {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex: 0 1 auto;
    border-bottom:solid 1px #808080;
}

.menu-item {

}

.menu-item-selected {
  background-color: #00640050 !important;
}

.menu-item {
  text-decoration:none;
  color:#006400;
  padding: 15px;
  display: inline-block;
}

.menu-item:hover{
  background-color:#00640010;
}

.content {
    display: flex;
    flex: 1 1 auto;
    overflow-y: auto;
}

.content-col {
    width: 50%;
    margin-right: 20px;
    overflow-y: auto !important;
}

.source {
    white-space: pre-wrap;
    font-size: 80%;
}

.hljs {
    background: #fff !important;
}

.copyright {
    flex-grow: 1;
    text-align: right;
    padding: 15px;
    color: #aaa;
}